extends ../layout

block content
  .sample-page
    h2.sample-page__title= message

    p.sample-page__intro.
      This is a sample page demonstrating Pug4j template engine integration
      with Spring Boot and Domain-Driven Design architecture.

    h3.sample-page__heading Project Features
    ul.sample-page__list
      each feature in features
        li.sample-page__list-item= feature

    h3.sample-page__heading Architecture Patterns
    ul.sample-page__list
      li.sample-page__list-item Domain-Driven Design (DDD)
        ul.sample-page__list
          li.sample-page__list-item Aggregates, Entities, Value Objects
          li.sample-page__list-item Domain Events & Services
          li.sample-page__list-item Factories & Specifications
      li.sample-page__list-item Clean Architecture
        ul.sample-page__list
          li.sample-page__list-item Hexagonal Architecture (Ports & Adapters)
          li.sample-page__list-item Onion Architecture (Dependency Inversion)
          li.sample-page__list-item Framework-Independent Domain
      li.sample-page__list-item Testing
        ul.sample-page__list
          li.sample-page__list-item ArchUnit for Architecture Enforcement
          li.sample-page__list-item Comprehensive Test Coverage

    h3.sample-page__heading Template Engine
    p.sample-page__intro.
      This page is rendered using <strong>Pug4j</strong>, a Java implementation
      of the Pug template engine (formerly Jade).

    h4.sample-page__subheading Pug Features Demonstrated:
    ul.sample-page__list
      li.sample-page__list-item Variables: <code class="sample-page__code">title = "#{title}"</code>
      li.sample-page__list-item Iteration: Looping through features
      li.sample-page__list-item Template inheritance: This page extends layout.pug
      li.sample-page__list-item Attributes: Dynamic HTML attributes
      li.sample-page__list-item Mixins: Reusable template blocks
