extends ../layout

block content
  .auth
    .auth__card
      h2.auth__title Login

      if message
        .alert.alert--success(data-test="login-success-message")= message

      if error
        .alert.alert--error(data-test="login-error-message")= error

      form.auth__form(method="POST" action="/login" data-test="login-form")
        if returnUrl
          input(type="hidden" name="returnUrl" value=returnUrl)

        .form__group
          label.form__label(for="email") Email
          input.form__input#email(type="email" name="email" value=(email || "") required autofocus placeholder="you@example.com" data-test="login-email-input")

        .form__group
          label.form__label(for="password") Password
          input.form__input#password(type="password" name="password" required placeholder="Enter your password" data-test="login-password-input")

        .form__actions
          button.btn.btn--primary.btn--full-width(type="submit" data-test="login-submit-button") Login

      .auth__footer
        | Don't have an account?
        a.auth__link(href=returnUrl ? "/register?returnUrl=" + returnUrl : "/register" data-test="login-register-link") Register here
