extends ../layout

block content
  .auth
    .auth__card
      h2.auth__title Create Account

      if message
        .alert.alert--success(data-test="register-success-message")= message

      if error
        .alert.alert--error(data-test="register-error-message")= error

      form.auth__form(method="POST" action="/register" data-test="register-form")
        if returnUrl
          input(type="hidden" name="returnUrl" value=returnUrl)

        .form__group
          label.form__label(for="email") Email
          input.form__input#email(type="email" name="email" value=(email || "") required autofocus placeholder="you@example.com" data-test="register-email-input")

        .form__group
          label.form__label(for="password") Password
          input.form__input#password(type="password" name="password" required minlength="8" placeholder="Create a password" data-test="register-password-input")
          p.form__hint Password must be at least 8 characters

        .form__group
          label.form__label(for="confirmPassword") Confirm Password
          input.form__input#confirmPassword(type="password" name="confirmPassword" required placeholder="Confirm your password" data-test="register-confirm-password-input")

        .form__actions
          button.btn.btn--primary.btn--full-width(type="submit" data-test="register-submit-button") Create Account

      .auth__footer
        | Already have an account?
        a.auth__link(href=returnUrl ? "/login?returnUrl=" + returnUrl : "/login" data-test="register-login-link") Login here
